body{
  background-image: url("https://images.unsplash.com/photo-1673937258005-71eebf1fc534?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80");
  color: #03DAC5;
  
}


@font-face {
font-family: 'Myfont';
src: url(fonts/Myfont-Regular.ttf);
}
h3
{
font-family: 'Myfont';
font-size: 40px; /* Párrafo de 14 pixeles */
}
  
  h1
{
font-family: 'Myfont';
font-size: 60px; /* Párrafo de 14 pixeles */
}
